.SingleFavorite {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
  margin: 1rem;
  border: 2px solid black;
  width: 200px;
  height: 200px;
  position: relative;
  text-transform: uppercase;
}

.SingleFavorite img {
  position: absolute;
  width: 120px;
  height: 120px;
  margin-bottom: 1rem;
  top: 10px;
}

.FavoritesButton {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.EditDisplay {
  display: flex;
  flex-direction: column;
}
